@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

@import 'jquery';
@import 'normalize';
@import 'main';
// Base Font
$font-oswald: 'Oswald', serif;
$font-slabo: 'Slabo 27px', serif;
$font-size: 21px;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

// Colors
$white: #ffffff;
$black: #363636;
$gray: #e4e4e4;
$red: red;

// Width
$max-width: 600px;

// Mixins & Extends & Placeholder Selectors (%)
@mixin headings($size){
	font-weight: $font-bold;
	font-size: $size;
	text-transform: uppercase;
	margin: 0 auto 15px;
	padding: 0;
	text-align: center;
	line-height: 1;
}
@mixin border-radius($rounded){
	border-radius: $rounded;
}
%margin{
	margin: 0 auto;
}