@import '_base';
/* * * * * * * * GLOBAL ELEMENTS * * * * * * * */
.clear{
	clear: both;
}
body{
	background: white;
	font-family: $font-slabo;
	font-weight: $font-normal;
	font-size: 14px;
	padding: 35px 0 0 0;
}
h1{
	@include headings(22px);
}
h2{
	@include headings(18px);
}
h3{
	@include headings(16px);
	font-style: italic;
	text-transform: none;
}
a{
	color: $black;
	&:hover, &:focus{
		text-decoration: none;
	}
}
.required{
	color: $red;
}
/* * * * * * * * LAYOUT * * * * * * * */
#container{
	width: $max-width;
	@extend %margin;
}
#addCommentContainer{
	margin: 20px auto;
	.comment{
		@include border-radius(10px);
		padding: 10px 15px;
		margin-bottom: 15px;
		&:nth-child(odd){
			background: $gray;
		}
		&:nth-child(even){
			background: $white;
			border: 1px solid $gray;
		}
		.avatar{
			float: left;
			margin-right: 10px;
		}
	}
}
form#addCommentForm{
	input[type="text"], textarea{
		width: 100%;
		margin: 10px auto;
		padding: 5px;
	}
}